[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
torch = "*"
treelib = "*"
numpy = "*"
tensorflow = "*"
tensorboardx = "*"
pytorchviz = {git = "https://github.com/szagoruyko/pytorchviz"}
asttokens = "*"
plyplus = "*"
pydot = "*"

[requires]
python_version = "3.6"
